{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    
<div class="modal-header" style=" background-color: rgb(66, 108, 140);">
</div>
<div class="modal-body">
    <div class="container" style="width: 100%; padding-left: 60px;">
        <h2>Actualizar Certificacion</h2>
        <form method="post" action="{{actualizarCertificacion}}" id="actualizarCertificacion">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Nombre Certificacion</label>
                        {{ form.Nombre }}
                    </div>
                </div>
            </div>
            <button type="button"  class="btn btn-danger" onclick="borrarCertificacion();" >Borrar</button>
            <button type="submit" style="float:right;" class="btn btn-primary" id="id_Guardar">Actualizar</button>
        </form>
    </div>
</div>
<script>
    function sinEspacios(e){
        return ((e.which != 32))
    }
    
    function mayusculas(e) {
        e.value = e.value.toUpperCase();
    }
    
    var banderaAB = 1;
    $('#actualizarCertificacion').on('submit', function(event) {
        if(banderaAB == 0){
            return false;
        }

        if(document.getElementById("id_Nombre").value==""){
            alert("¡Falta el nombre de la certificacion!");
            return false;
        }

        var form = $(this);
        banderaAB = 0;
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            datatype: 'json',
            success: function(data){
                if(data.bandera == 2){
                    tablaCertificaciones();
                    $("#CertificacionesModal").modal("hide");
                }
                else if(data.bandera == 3){
                    document.getElementById("id_Nombre").value="";
                    alert("¡La certificacion ya existe!");
                    banderaAB = 1;
                }
                else if(data.bandera == 4){
                    document.getElementById("id_Nombre").value="";
                    alert("¡Validacion erronea en el formulario!");
                    banderaAB = 1;
                }
            }
        });
        return false;
    });

    function borrarCertificacion(){
        var nombre = document.getElementById("id_Nombre").value;
        if(banderaAB == 1){
            if(nombre !=""){
                banderaAB = 0;
                $.ajax({
                    url:  'borrarCertificacion/',
                    type: 'POST',
                    data:{'data': JSON.stringify({ "idCer" : "{{idCer}}"}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                    success: function (data) {
                        if(data.bandera == 1){
                            tablaCertificaciones();
                            $("#CertificacionesModal").modal("hide");
                        }
                        else if(data.bandera == 2){
                            alert("¡La certificacion tiene registros!");
                            banderaAB = 1;
                        }
                    }
                });
            }
            else{
                alert("¡Faltan datos en el formulario!");
            }
        }
    }
</script>