<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    
    <div class="modal-header" style=" background-color: rgb(66, 108, 140);">
    </div>
    <div class="modal-body">
        <div class="container" style="width: 100%; padding-left: 60px;">
            <h2 id="TituloID">Modifica Ruta</h2>
                    <form method="post" action="{{urlrutas}}" class="js-Transportista-form">
                        {% csrf_token %}
                         <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    
                                    <label>Transportista</label>
                                    <select name="IDTransportista" class="form-control IDTransportista edited" placeholder="IDTransportista" required="" id="id_IDTransportista" >
                                        {% for transporte in rutas.RutasXCarrier.all %}
                                            <option value="{{transporte.id}}" selected>{{transporte.RazonSocial}}</option>
                                        {% endfor %}
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Nombre de Ruta</label>
                                    {{ form.NombreRuta }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>C.P. Origen</label>
                                    {{ form.CPOrigen }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Estado Origen</label>
                                    {{ form.EstadoOrigen }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Ciudad Origen</label>
                                    {{ form.CiudadOrigen }}
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>C.P. Destino</label>
                                    {{ form.CPDestino }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Estado Destino</label>
                                    {{ form.EstadoDestino }}
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="form-group form-md-line-input form-md-floating-label has-error">
                                    <label>Ciudad Destino</label>
                                    {{ form.CiudadDestino }}
                                </div>
                            </div>
                            
                            
                        </div>
                        
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <label>Kilometros</label>
                                    {{ form.Kilometros }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <label>Casetas</label>
                                    {{ form.Casetas }}
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <br>
                                    <div class="pretty p-icon p-round p-pulse">
                                        {{ form.ViajeRedondo }}
                                        <div class="state p-success">
                                            <i class="icon mdi mdi-check"></i>
                                            <label>Viaje Redondo</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="HiddenId1" name="custId" value="0">
                        <input type="hidden" id="HiddenId2" name="HiddenId2" value="0">    
                        <a class="btn btn-primary" onclick="modRutas()" id="id_Modifica">Modifica</a>
                        <button type="submit" class="btn btn-primary" id="id_Guardar">Guardar</button>
            </form>
            <div align="right">
                <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
            </div>
        </div>
    </div>
    {% load static %}
    <script type="text/javascript"></script>

    
