{% extends "base.html" %}
{% block style_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/registra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/scroll.css' %}">
{% endblock %}
{% block body_block %}
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red sbold uppercase"> <i class="fas fa-truck-moving font-red"></i>Tipos de Unidades</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info" onclick="crearTipoUnidad()">Crear</button>
        </div>
    </div>
    <div class="portlet-body">
        <div id="tablaTiposUnidades">          
        </div>
    </div>
</div>

<div class="modal fade" id="tiposUnidadesModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div> 
{% endblock %}
{% block script_block %}
    {% load static %}
    <script>
        window.onload = function() {
            tablaTiposUnidades();
        }

        function tablaTiposUnidades(){
            $("#tablaTiposUnidades").empty("");
            $.ajax({
                url:  "tablaTiposUnidades/",
                type: 'POST',
                data: {'data': '',"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#tablaTiposUnidades").empty("");
                    $("#tablaTiposUnidades").html(data.tablaTiposUnidades);
                }
            });
        }

        function crearTipoUnidad() {
            $("#tiposUnidadesModal .modal-content").empty("");
            $.ajax({
                url: "crearTipoUnidad/",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#tiposUnidadesModal").modal("show");
                },
                success: function (data) {
                    $("#tiposUnidadesModal .modal-content").empty("");
                    $("#tiposUnidadesModal .modal-content").html(data.crearTipoUnidad);
                    
                    $.ajax({
                        url:  'selectCategoriasEjes/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data':{},"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $("#id_IDCategoriaEje").html(data.selectCategoriasEjes);
                        }
                    });
                }
            });
        }

        function selectActualizarTipoUnidad(idCE){
            $.ajax({
                url:  'selectActualizarTipoUnidad/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({ 'idCE' : idCE}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_IDCategoriaEje").html(data.selectActualizarTipoUnidad);
                }
            });
        }
    </script>
{% endblock %}