{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    
<div class="modal-header" style=" background-color: rgb(66, 108, 140);"></div>
<div class="modal-body">
    <div class="container" style="width: 100%; padding-left: 60px;">
        <h2>Borrar Tipo de Unidad</h2>
        <form method="POST" action="{{borrarTipoUnidadG}}" id="borrarTipoUnidadG">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Tipos de Unidades</label>
                        {{ form.Nombre }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Borrar</button>
            <button type="button" style="float:right;" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
        </form>
    </div>
</div>
<script>
    var banderaBorrar = 1;
    $('#borrarTipoUnidadG').on('submit', function(event) {
        var form = $(this);
        tipoUnidad = document.getElementById("id_Nombre").value;
        if(banderaBorrar==1){
            if(tipoUnidad != 0){
                banderaBorrar = 0;
                $.ajax({
                    url: form.attr("action"),
                    data: form.serialize(),
                    type: form.attr("method"),
                    datatype: 'json',
                    success: function(data){
                        if(data.bandera == 2){
                            tablaTransportistasG();;
                            $("#TransportistaModalG").modal("hide");
                        }
                        else if (data.bandera == 3){
                            alert("¡El tipo de unidad tiene registros!");
                            banderaBorrar = 1;
                        }
                    }
                });
            }
            else{
                alert("¡Seleccione un tipo de unidad valido!");
            }
        }
        return false;
    });
</script>