{% extends "base.html" %}
{% block style_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/registra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/scroll.css' %}">
{% endblock %}
{% block body_block %}
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red sbold uppercase"> <i class="fas fa-truck-moving font-red"></i>Contactos</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info" onclick="crearContacto()">Crear</button>
        </div>
    </div>
    <div class="portlet-body">
        <div id="tablaContactos">          
        </div>
    </div>
</div>

<div class="modal fade" id="ContactosModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
    
{% endblock %}
{% block script_block %}
    {% load static %}
    <script>

        window.onload = function() {
            tablaContactos();
        }

        function tablaContactos(){
            $("#tablaContactos").empty("");
            $.ajax({
                url:  "tablaContactos/",
                type: 'POST',
                data: {'data': '',"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#tablaContactos").empty("");
                    $("#tablaContactos").html(data.tablaContactos);
                }
            });
        }

        function crearContacto() {
            $("#ContactosModal .modal-content").empty("");
            $.ajax({
                url: "crearContacto/",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#ContactosModal").modal("show");
                },
                success: function (data) {
                    $("#ContactosModal .modal-content").empty("");
                    $("#ContactosModal .modal-content").html(data.crearContacto);
                    
                    $.ajax({
                        url:  'selectTransportistasContactos/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data':{},"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $("#id_IDTransportista").html(data.selectTransportistasContactos);
                        }
                    });
                }
            });
        }
    </script>
{% endblock %}