{% extends "base.html" %}
{% block style_block %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/registra.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Transportista/scroll.css' %}">
{% endblock %}
{% block body_block %}
<div class="portlet light portlet-fit portlet-datatable bordered">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject font-red sbold uppercase"> <i class="fas fa-truck-moving font-red"></i>Transportistas</span>
        </div>
        <div class="actions">
            <button type="button" class="btn btn-info" onclick="Filtros()">Filtros</button>
            <button type="button" class="btn btn-info" onclick="crearTransportistaG()">Crear</button>
        </div>
    </div>

    <div class="portlet-body">
        <div id="filtro" style="visibility:hidden; display :none">
            <form method="post">
                <div class="row" id="rutas">
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Rutas</label>
                            <select name="Rutas" class="form-control CiudadOrigen" placeholder="Rutas" style="width:200px;" id="id_FiltroRutas">
                                <option value="Ruta">Ruta</option> 
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="filtroCpEsCi">
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>CP Origen</label>
                            <input type="text" name="CPOrigen" class="form-control FiltroCPOrigen" placeholder="CP Origen" id="id_FiltroCPOrigen" maxlength="5" onKeydown="return soloNumeros(this,event);" onkeyup="buscarEstadoMunicipio(this)">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Estado Origen</label>
                            <select name="EstadoOrigen" class="form-control EstadoOrigen" placeholder="Estado Origen" id="id_FiltroEstadoOrigen">
                                    <option value="Estado" selected>Estado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Ciudad Origen</label>
                            <select name="CiudadOrigen" class="form-control CiudadOrigen" style="width: 150px;" placeholder="Ciudad Origen" id="id_FiltroCiudadOrigen">
                                <option value="Ciudad" selected>Ciudad</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>CP Destino</label>
                            <input type="text" name="CPDestino" min="1" class="form-control FiltroCPDestino" placeholder="CP Destino" id="id_FiltroCPDestino" maxlength="5" onKeydown="return soloNumeros(this,event);" onkeyup="buscarEstadoMunicipioD(this)">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Estado Destino</label>
                            <select name="EstadoDestino" class="form-control EstadoDestino" placeholder="Estado Destino" id="id_FiltroEstadoDestino">
                                    <option value="Estado" selected>Estado</option>
                            </select>
                            
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Ciudad Destino</label>
                            <select name="CiudadDestino" class="form-control CiudadDestino" placeholder="Ciudad Destino" style="width:150px;" id="id_FiltroCiudadDestino">
                                <option value="Ciudad" selected>Ciudad</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="variablesGenerales">
                    <div class="col-lg-2 col-md-2" id="tipoUnidad">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Tipos de Unidad</label>
                            <select name="Unidad" class="form-control CiudadOrigen" placeholder="Unidad" style="width:150px;" id="id_FiltroUnidad">
                                <option value="Tipo Unidad" selected>Tipo Unidad</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2" id="LimiteInferior">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Limite Inferior</label>
                            <input type="text" name="LimiteInferior" class="form-control" placeholder="$00.00" id="id_FiltroLimiteInferior" onKeydown="return numerosDecimales(this,event);">
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2" id="LimiteSuperior">
                        <div class="form-group form-md-line-input form-md-floating-label ">
                            <label>Limite Superior</label>
                            <input type="text" name="LimiteSuperior" class="form-control" placeholder="$00.00" id="id_FiltroLimiteSuperior" onKeydown="return numerosDecimales(this,event);">
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <a href="#" style="float:left;"><button type="button" class="btn btn-info" onclick="Filtroload()">Buscar</button></a>
                    <a href="#" style="float:left; margin-left: 10px;"><button type="button" class="btn btn-success" onclick="limpiar()">Limpiar</button></a>
                </div>
            </form>
        </div>
        <br>

        <div id="tablaTransportistasG">          
        </div>
    </div>
</div>

<div class="modal fade" id="TransportistaModalG">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>
{% endblock %}
{% block script_block %}
    {% load static %}
    <script>

        //Select ciudades origen
        $("#id_FiltroCiudadOrigen").select2({
        matcher: matchCustom1
        });

        function matchCustom1(params, data) {
            // If there are no search terms, return all of the data
            if ($.trim(params.term) === '') {
            return data;
            }

            // Do not display the item if there is no 'text' property
            if (typeof data.text === 'undefined') {
            return null;
            }

            // `params.term` should be the term that is used for searching
            // `data.text` is the text that is displayed for the data object
            if (data.text.indexOf(params.term) > -1) {
            var modifiedData = $.extend({}, data, true);
            modifiedData.text += ' (matched)';

            // You can return modified objects from here
            // This includes matching the `children` how you want in nested data sets
            return modifiedData;
            }

            // Return `null` if the term should not be displayed
            return null;
        }
        //

        //
		$("#id_FiltroRutas").select2({
		    matcher: matchCustom
        });

        //
		$("#id_FiltroCiudadDestino").select2({
		    matcher: matchCustom
        });
        
        //
		$("#id_FiltroCiudadOrigen").select2({
		    matcher: matchCustom
        });
        
        
		//
		$("#id_FiltroUnidad").select2({
		    matcher: matchCustom
        });

		function matchCustom(params, data) {
			// If there are no search terms, return all of the data
			if ($.trim(params.term) === '') {
			    return data;
			}

			// Do not display the item if there is no 'text' property
			if (typeof data.text === 'undefined') {
			    return null;
			}

			// `params.term` should be the term that is used for searching
			// `data.text` is the text that is displayed for the data object
			if (data.text.indexOf(params.term) > -1) {
				var modifiedData = $.extend({}, data, true);
				modifiedData.text += ' (matched)';

				// You can return modified objects from here
				// This includes matching the `children` how you want in nested data sets
				return modifiedData;
			}

			// Return `null` if the term should not be displayed
			return null;
		}
		//
        
        function soloNumeros(e,event)
        {
            texto = document.getElementById(e.id).value;
            simbolo = event.key;
            cadena = texto+simbolo;

            if(event.key == "Backspace" ||  event.key == "ArrowLeft" || event.key == "ArrowRight"){
                return true;
            }

            var RE = /^[0-9]+$/;
            if (RE.test(cadena)){
                return true;
            }
            else{
                return false;
            }
        }

        function numerosDecimales(e, event) {
            texto = document.getElementById(e.id).value;
            simbolo = event.key;
            cadena = texto+simbolo;

            if(event.key == "Backspace" ||  event.key == "ArrowLeft" || event.key == "ArrowRight"){
                return true;
            }

            var RE = /^([0-9]+\.?[0-9]{0,2})$/;
            if (RE.test(cadena)){
                return true;
            }
            else{
                return false;
            }
        }


        window.onload = function() {
            selectRutasFiltro();
            selectTipoUnidadesFiltro();
            iniciarFiltro();
            tablaTransportistasG();
        }

        function tablaTransportistasG(){
            $("#tablaTransportistasG").html("");
            $.ajax({
                url:  "tablaTransportistasG/",
                type: 'POST',
                data: {'data': '',"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#tablaTransportistasG").html(data.tablaTransportistasG);
                }
            });
        }

        /*
        Filtro
        ---------------------------------------------------------------------------------------------------------------------------
        */
        function selectRutasFiltro(){
            var rutas=document.getElementById('id_FiltroRutas');
            $.ajax({
                url:  "selectRutasFiltro/",
                type: 'POST',
                data: {'data': '',"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $(rutas).empty();
                    $("#id_FiltroRutas").html(data.selectRutasFiltro);
                }
            });
        }

        function selectTipoUnidadesFiltro(){
            var unidad=document.getElementById('id_FiltroUnidad');
            $.ajax({
                url:  "selectTipoUnidadesFiltro/",
                type: 'POST',
                data: {'data': '',"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $(unidad).empty();
                    $("#id_FiltroUnidad").html(data.selectTipoUnidadesFiltro);
                }
            });
        }

        function iniciarFiltro(){
            $.ajax({
                type: 'GET',
                url: "https://api-sepomex.hckdrk.mx/query/get_estados",
                success: function (data) {
                    var estadoOrigen=document.getElementById('id_FiltroEstadoOrigen');
                    $.each(data.response.estado, function (i, value) {
                        $(estadoOrigen).append($('<option>').text(value).attr('value',value));
                    });
                    document.getElementById("id_FiltroCPOrigen").value = "";
                    document.getElementById("id_FiltroEstadoOrigen").selectedIndex = 0;
                    document.getElementById("id_FiltroCiudadOrigen").selectedIndex = 0;
                },
            });

            $.ajax({
                type: 'GET',
                url: "https://api-sepomex.hckdrk.mx/query/get_estados",
                success: function (data) {
                    var estadoDestino=document.getElementById('id_FiltroEstadoDestino');
                    $.each(data.response.estado, function (i, value) {
                        $(estadoDestino).append($('<option>').text(value).attr('value',value));
                    });
                    document.getElementById("id_FiltroCPDestino").value = "";
                    document.getElementById("id_FiltroEstadoDestino").selectedIndex = 0;
                    document.getElementById("id_FiltroCiudadDestino").selectedIndex = 0;
                },
            });
        }

        var actividad=true;
        function Filtros()
        {
            if(actividad==true)
            {
                document.getElementById("filtro").style.visibility = "visible";
                document.getElementById("filtro").disabled = true;
                document.getElementById("filtro").style.display = "block";
                desicionFiltro();
                actividad=false;
            }
            else
            {
                desicionFiltro();
                document.getElementById("filtro").style.visibility = "hiden";
                document.getElementById("filtro").disabled = false;
                document.getElementById("filtro").style.display = "none";
                actividad=true;
            }
        }

        function  desicionFiltro(){
            CPOrigen = document.getElementById("id_FiltroCPOrigen").value;
            estadoOrigen = document.getElementById("id_FiltroEstadoOrigen").value;
            ciudadOrigen = document.getElementById("id_FiltroCiudadOrigen").value;

            CPDestino = document.getElementById("id_FiltroCPDestino").value;
            estadoDestino = document.getElementById("id_FiltroEstadoDestino").value;
            ciudadDestino = document.getElementById("id_FiltroCiudadDestino").value;

            ruta = document.getElementById("id_FiltroRutas").value;

            if(CPOrigen == "" && estadoOrigen == "Estado" && ciudadOrigen == "Ciudad"  && CPDestino == "" && estadoDestino == "Estado" && ciudadDestino == "Ciudad" && ruta == "Ruta"){
                mostrarFiltroNombreRutas();
                mostrarFiltroCpEsCi();
                ocultarVariablesGenerales();
            }
            else if(CPOrigen == "" && estadoOrigen == "Estado" && ciudadOrigen == "Ciudad"  && CPDestino == "" && estadoDestino == "Estado" && ciudadDestino == "Ciudad" && ruta != "Ruta"){
                mostrarFiltroNombreRutas();
                ocultarFiltroCpEsCi();
                mostrarVariablesGenerales();
            }
            else if(CPOrigen != "" && estadoOrigen != "Estado" && ciudadOrigen != "Ciudad"  && CPDestino != "" && estadoDestino != "Estado" && ciudadDestino != "Ciudad" && ruta == "Ruta"){
                ocultarFiltroNombreRutas();
                mostrarFiltroCpEsCi();
                mostrarVariablesGenerales();
            }
        }

//Origen
        $('#id_FiltroEstadoOrigen').on('change',function () {
            if($(this).val() == "Estado"){
                document.getElementById("id_FiltroCPOrigen").value = "";
                var ciudadesOrigen = document.getElementById("id_FiltroCiudadOrigen");
                $(ciudadesOrigen).empty();
                $(ciudadesOrigen).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                $("#id_FiltroCiudadOrigen").val("Ciudad").trigger("change"); 
                document.getElementById('id_FiltroCiudadOrigen').selectedIndex = 0;
                desicionFiltroCpEsCi();
            }
            else{
                document.getElementById("id_FiltroCPOrigen").value = "";
                var ciudadesOrigen = document.getElementById("id_FiltroCiudadOrigen");
                $(ciudadesOrigen).empty();
                $(ciudadesOrigen).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                $("#id_FiltroCiudadOrigen").val("Ciudad").trigger("change"); 
                document.getElementById('id_FiltroCiudadOrigen').selectedIndex = 0;
                desicionFiltroCpEsCi();

                $.ajax({
                    type: 'GET',
                    url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ $(this).val(),
                    success: function (data) {
                        $(ciudadesOrigen).empty();
                        $(ciudadesOrigen).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                        $("#id_FiltroCiudadOrigen").val("Ciudad").trigger("change"); 
                        document.getElementById('id_FiltroCiudadOrigen').selectedIndex = 0;
                        $.each(data.response.municipios, function (i, value) {
                            $(ciudadesOrigen).append($('<option>').text(value).attr('value',value));
                        });
                    },
                });
            }
        });

        $('#id_FiltroCiudadOrigen').on('change',function () {
            var estadoOrigen=document.getElementById('id_FiltroEstadoOrigen').value;
            var ciudadOrigen=$(this).val();
            var CPEstado = "";
            document.getElementById('id_FiltroCPOrigen').value = "";
            desicionFiltroCpEsCi();

            $.ajax({
                type: 'GET',
                url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_estado/"+ estadoOrigen,
                success: function (data) {
                    CPEstado = data.response.cp[0];
                    $.ajax({
                        type: 'GET',
                        url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_municipio/"+ ciudadOrigen,
                        success: function (data) {
                            $.each(data.response.cp, function (i, value) {
                                if(parseInt(CPEstado)<=parseInt(value)){
                                    $(document.getElementById('id_FiltroCPOrigen')).val(value);
                                    return false;
                                }
                            });
                        },                
                    });
                },
            });
        });

        function buscarEstadoMunicipio(e) {
            var cadena = e.value;
            var estadosOrigen = document.getElementById("id_FiltroEstadoOrigen");
            var ciudadesOrigen = document.getElementById("id_FiltroCiudadOrigen");
            var estadoOrigen = "";
            var ciudadOrigen = "";
            var url = "";

            if(cadena.length==5){
                estadosOrigen.selectedIndex = 0;
                ciudadesOrigen.selectedIndex = 0;
                desicionFiltroCpEsCi();

                url = 'https://api-sepomex.hckdrk.mx/query/info_cp/' + e.value;
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        for(var cont = 0; cont < estadosOrigen.length ;cont++){
                            if(estadosOrigen.options[cont].value == data[0].response.estado){
                                estadoOrigen =  data[0].response.estado;
                                ciudadOrigen = data[0].response.municipio;
                                estadosOrigen.selectedIndex = cont;

                                $.ajax({
                                    type: 'GET',
                                    url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ estadoOrigen,
                                    success: function (data) {
                                        $(ciudadesOrigen).empty();
                                        $(ciudadesOrigen).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                                        $.each(data.response.municipios, function (i, value) {
                                            $(ciudadesOrigen).append($('<option>').text(value).attr('value',value));
                                            if(value == ciudadOrigen){
                                                ciudadesOrigen.selectedIndex = i+1;
                                            }
                                        });
                                    },
                                });
                                break;
                            }
                        }
                    },
                });
            }
            else{
                ciudadOrigen=document.getElementById('id_FiltroCiudadOrigen');
                $(ciudadOrigen).empty();
                $(ciudadOrigen).append($('<option>').text('Ciudad').attr('value',""));
                estadosOrigen.selectedIndex = 0;
                ciudadesOrigen.selectedIndex = 0;
                desicionFiltroCpEsCi();
            }
        }

        function desicionFiltroCpEsCi(){
            CPOrigen = document.getElementById("id_FiltroCPOrigen").value;
            estadoOrigen = document.getElementById("id_FiltroEstadoOrigen").value;
            ciudadOrigen = document.getElementById("id_FiltroCiudadOrigen").value;

            CPDestino = document.getElementById("id_FiltroCPDestino").value;
            estadoDestino = document.getElementById("id_FiltroEstadoDestino").value;
            ciudadDestino = document.getElementById("id_FiltroCiudadDestino").value;

            if(CPOrigen == "" && estadoOrigen == "Estado" && ciudadOrigen == "Ciudad"  && CPDestino == "" && estadoDestino == "Estado" && ciudadDestino == "Ciudad"){
                reiniciarVariablesGenerales();
                ocultarVariablesGenerales();
                mostrarFiltroNombreRutas();
            }
            else if(CPOrigen != "" || estadoOrigen != "Estado" || ciudadOrigen != "Ciudad"  || CPDestino != "" || estadoDestino != "Estado" || ciudadDestino != "Ciudad"){
                ocultarFiltroNombreRutas();
                mostrarVariablesGenerales();
            }

        }

//Destino
        $('#id_FiltroEstadoDestino').on('change',function () {
            if($(this).val() == "Estado"){
                document.getElementById("id_FiltroCPDestino").value = "";
                var ciudadesDestino = document.getElementById("id_FiltroCiudadDestino");
                $(ciudadesDestino).empty();
                $(ciudadesDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                $("#id_FiltroCiudadDestino").val("Ciudad").trigger("change"); 
                document.getElementById('id_FiltroCiudadDestino').selectedIndex = 0;
                desicionFiltroCpEsCi();

            }
            else{
                document.getElementById('id_FiltroCPDestino').value = "";
                var ciudadesDestino = document.getElementById("id_FiltroCiudadDestino");
                $(ciudadesDestino).empty();
                $(ciudadesDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                $("#id_FiltroCiudadDestino").val("Ciudad").trigger("change"); 
                document.getElementById('id_FiltroCiudadDestino').selectedIndex = 0;
                desicionFiltroCpEsCi();

                $.ajax({
                    type: 'GET',
                    url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ $(this).val(),
                    success: function (data) {
                        $(ciudadesDestino).empty();
                        $(ciudadesDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                        $.each(data.response.municipios, function (i, value) {
                            $(ciudadesDestino).append($('<option>').text(value).attr('value',value));
                        });
                    },
                });
            }
        });

        $('#id_FiltroCiudadDestino').on('change',function () {
            var estadoDestino=$(document.getElementById('id_FiltroEstadoDestino')).val();
            document.getElementById('id_FiltroCPDestino').value = "";
            var ciudadDestino=$(this).val();
            var CPEstadoD = "";

            $.ajax({
                type: 'GET',
                url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_estado/"+ estadoDestino,
                success: function (data) {
                    CPEstadoD = data.response.cp[0];

                    $.ajax({
                        type: 'GET',
                        url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_municipio/"+ ciudadDestino,
                        success: function (data) {
                            $.each(data.response.cp, function (i, value) {
                                if(parseInt(CPEstadoD)<=parseInt(value)){
                                    $(document.getElementById('id_FiltroCPDestino')).val(value);
                                    return false;
                                }
                            });
                        },                
                    });
                },
            });
        });

        function buscarEstadoMunicipioD(e) {
            var cadena = e.value;
            var estadosDestino = document.getElementById("id_FiltroEstadoDestino");
            var ciudadesDestino = document.getElementById("id_FiltroCiudadDestino");
            var estadoDestino = "";
            var ciudadDestino = "";
            var url = "";
            var CPEstadoD = ""

            if(cadena.length==5){
                estadosDestino.selectedIndex = 0;
                ciudadesDestino.selectedIndex = 0;
                desicionFiltroCpEsCi();

                url = 'https://api-sepomex.hckdrk.mx/query/info_cp/' + e.value;
                $.ajax({
                    type: 'GET',
                    url: url,
                    success: function (data) {
                        for(var cont = 0; cont < estadosDestino.length ;cont++){
                            if(estadosDestino.options[cont].value == data[0].response.estado){
                                estadoDestino =  data[0].response.estado;
                                ciudadDestino = data[0].response.municipio;
                                estadosDestino.selectedIndex = cont;

                                $.ajax({
                                    type: 'GET',
                                    url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ estadoDestino,
                                    success: function (data) {
                                        $(ciudadesDestino).empty();
                                        $(ciudadesDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                                        $.each(data.response.municipios, function (i, value) {
                                            $(ciudadesDestino).append($('<option>').text(value).attr('value',value));
                                            if(value == ciudadDestino){
                                                ciudadesDestino.selectedIndex = i+1;
                                            }
                                        });
                                    },
                                });
                                break;
                            }
                        }
                    },
                });
            }
            else{
                ciudadesDestino=document.getElementById('id_FiltroCiudadDestino');
                $(ciudadesDestino).empty();
                $(ciudadesDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                estadosDestino.selectedIndex = 0;
                ciudadesDestino.selectedIndex = 0;
                desicionFiltroCpEsCi();
            }
        }

        $('#id_FiltroRutas').on('change',function () {
            rutas = document.getElementById('id_FiltroRutas').value;
            if(rutas == "Ruta"){
                mostrarFiltroNombreRutas();
                reiniciarVariablesGenerales();
                ocultarVariablesGenerales();
                mostrarFiltroCpEsCi();
                reiniciarCpEsCi();
            }
            else{
                mostrarFiltroNombreRutas();
                ocultarFiltroCpEsCi();
                mostrarVariablesGenerales();
            }
        });


//Variables cambiantes
        function reiniciarNombreRuta(){
            $("#id_FiltroRutas").val("Ruta").trigger("change"); 
            document.getElementById("id_FiltroRutas").selectedIndex = 0;
        }

        function mostrarFiltroNombreRutas(){
            document.getElementById("rutas").style.visibility = "visible";
            document.getElementById("rutas").disabled = true;
            document.getElementById("rutas").style.display = "block";
        }

        function ocultarFiltroNombreRutas(){
            document.getElementById("rutas").style.visibility = "hiden";
            document.getElementById("rutas").disabled = false;
            document.getElementById("rutas").style.display = "none";
        }

        function reiniciarCpEsCi(){
            document.getElementById("id_FiltroCPOrigen").value = "";
            document.getElementById("id_FiltroEstadoOrigen").selectedIndex = 0;
            $("#id_FiltroCiudadOrigen").val("Ciudad").trigger("change");
            document.getElementById("id_FiltroCiudadOrigen").selectedIndex = 0;

            document.getElementById("id_FiltroCPDestino").value = "";
            document.getElementById("id_FiltroEstadoDestino").selectedIndex = 0;
            $("#id_FiltroCiudadDestino").val("Ciudad").trigger("change"); 
            document.getElementById("id_FiltroCiudadDestino").selectedIndex = 0;
        }

        function mostrarFiltroCpEsCi(){
            document.getElementById("filtroCpEsCi").style.visibility = "visible";
            document.getElementById("filtroCpEsCi").disabled = true;
            document.getElementById("filtroCpEsCi").style.display = "block";
        }

        function ocultarFiltroCpEsCi(){
            document.getElementById("filtroCpEsCi").style.visibility = "hiden";
            document.getElementById("filtroCpEsCi").disabled = false;
            document.getElementById("filtroCpEsCi").style.display = "none";
        }

        function mostrarVariablesGenerales(){
            document.getElementById("variablesGenerales").style.visibility = "visible";
            document.getElementById("variablesGenerales").disabled = true;
            document.getElementById("variablesGenerales").style.display = "block";

            document.getElementById("tipoUnidad").style.visibility = "visible";
            document.getElementById("tipoUnidad").disabled = true;
            document.getElementById("tipoUnidad").style.display = "block";

            document.getElementById("LimiteInferior").style.visibility = "visible";
            document.getElementById("LimiteInferior").disabled = true;
            document.getElementById("LimiteInferior").style.display = "block";

            document.getElementById("LimiteSuperior").style.visibility = "visible";
            document.getElementById("LimiteSuperior").disabled = true;
            document.getElementById("LimiteSuperior").style.display = "block";
        }

        function ocultarVariablesGenerales(){
            document.getElementById("tipoUnidad").style.visibility = "hiden";
            document.getElementById("tipoUnidad").disabled = false;
            document.getElementById("tipoUnidad").style.display = "none";

            document.getElementById("LimiteInferior").style.visibility = "hiden";
            document.getElementById("LimiteInferior").disabled = false;
            document.getElementById("LimiteInferior").style.display = "none";

            document.getElementById("LimiteSuperior").style.visibility = "hiden";
            document.getElementById("LimiteSuperior").disabled = false;
            document.getElementById("LimiteSuperior").style.display = "none";

            document.getElementById("variablesGenerales").style.visibility = "hiden";
            document.getElementById("variablesGenerales").disabled = false;
            document.getElementById("variablesGenerales").style.display = "none";
        }

        function reiniciarVariablesGenerales(){
            $("#id_FiltroUnidad").val("Tipo Unidad").trigger("change"); 
            document.getElementById("id_FiltroUnidad").selectedIndex = 0;
            document.getElementById("id_FiltroLimiteInferior").value = "";
            document.getElementById("id_FiltroLimiteSuperior").value = "";
        }

//Botones funciones
        function limpiar(){
            document.getElementById("filtro").style.visibility = "visible";
            document.getElementById("filtro").disabled = true;
            document.getElementById("filtro").style.display = "block";
            mostrarFiltroNombreRutas();
            reiniciarNombreRuta();
            mostrarFiltroCpEsCi();
            reiniciarCpEsCi();
            mostrarVariablesGenerales();
            reiniciarVariablesGenerales();
            ocultarVariablesGenerales();
            tablaCostos();
            Filtros();
        }

        function Filtroload() {
            var IDRuta  = document.getElementById("id_FiltroRutas").value;

            var CPOrigen = document.getElementById('id_FiltroCPOrigen').value;
            var EstadoOrigen = $('#id_FiltroEstadoOrigen').find('option:selected').text();
            var CiudadOrigen = $('#id_FiltroCiudadOrigen').find('option:selected').text();
            
            var CPDestino = document.getElementById('id_FiltroCPDestino').value;
            var EstadoDestino = $('#id_FiltroEstadoDestino').find('option:selected').text();
            var CiudadDestino = $('#id_FiltroCiudadDestino').find('option:selected').text();

            var IDTipoUnidad = $('#id_FiltroUnidad').find('option:selected').text();
            var LimiteInferior = document.getElementById("id_FiltroLimiteInferior").value;
            var LimiteSuperior = document.getElementById("id_FiltroLimiteSuperior").value;


            if(IDRuta != "Ruta"  && IDTipoUnidad != "Tipo Unidad" && LimiteInferior != "" &&  LimiteSuperior != ""){
                $("#tablaTransportistasG").html("");
                $.ajax({
                    url:  'filtroCortoG/',
                    type: 'POST',
                    dataType: 'json',
                    ContentType: 'application/json; charset=utf-8',
                    data: {
                        'data': JSON.stringify({
                            'IDRuta':IDRuta,
                            'IDTipoUnidad': document.getElementById("id_FiltroUnidad").value,
                            'LimiteInferior':LimiteInferior,
                            'LimiteSuperior' : LimiteSuperior}),
                            "csrfmiddlewaretoken" : "{{csrf_token}}"},
                    beforeSend: function () {
                    },
                    success: function (data) {
                        $("#tablaTransportistasG").html("");
                        $("#tablaTransportistasG").html(data.filtroCortoG);
                    }
                });
            }
            else if(CPOrigen != "" && EstadoOrigen != "Estado" && CiudadOrigen != "Ciudad" && CPDestino != "" && EstadoDestino != "Estado" && CiudadDestino != "Ciudad" && IDTipoUnidad != "Tipo Unidad" && LimiteInferior != "" && LimiteSuperior != ""){
                $("#tablaTransportistasG").html("");
                $.ajax({
                    url:  'filtroLargoG/',
                    type: 'POST',
                    dataType: 'json',
                    ContentType: 'application/json; charset=utf-8',
                    data: {
                        'data': JSON.stringify({
                            'CPOrigen':CPOrigen,
                            'EstadoOrigen':EstadoOrigen,
                            'CiudadOrigen':CiudadOrigen,
                            'CPDestino':CPDestino,
                            'EstadoDestino':EstadoDestino,
                            'CiudadDestino':CiudadDestino,
                            'IDTipoUnidad': document.getElementById("id_FiltroUnidad").value,
                            'LimiteInferior':LimiteInferior,
                            'LimiteSuperior': LimiteSuperior}),
                            "csrfmiddlewaretoken" : "{{csrf_token}}"},
                    beforeSend: function () {
                    },
                    success: function (data) {
                        $("#tablaTransportistasG").html("");
                        $("#tablaTransportistasG").html(data.filtroLargoG);
                        Filtros();
                    }
                });
            }
            else{
                alert("¡Faltan datos para hacer la busqueda!");
            }
        }
        /*
        ---------------------------------------------------------------------------------------------------------------------------
        */

        /*
        Operaciones con trasnportista
        */ 
        function crearTransportistaG() {
            $("#tablaTransportistasG .modal-content").html("");
            $.ajax({
                url: "crearTransportistaG/",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#TransportistaModalG").modal("show");
                },
                success: function (data) {
                    $("#TransportistaModalG .modal-content").html("");
                    $("#TransportistaModalG .modal-content").html(data.crearTransportistaG);
                    
                    prioridad=document.getElementById('id_IDPrioridad');                    
                    $.ajax({
                        url:  'selectPrioridadesG/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data': JSON.stringify({}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $(prioridad).empty();
                            $("#id_IDPrioridad").html(data.selectPrioridadesG);
                        }
                    });

                    estatus=document.getElementById('id_IDEstatus');
                    $.ajax({
                        url:  'selectEstatusG/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data': JSON.stringify({}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $(estatus).empty();
                            $("#id_IDEstatus").html(data.selectEstatusG);
                        }
                    });

                    $.ajax({
                        url:  'checkboxTiposG/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data': JSON.stringify({}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $("#contenedorTipos").html(data.checkboxTiposG);
                        }
                    });
                }
            });
        }

        function actualizarTransportistaG(idT) {
            $("#TransportistaModalG .modal-content").html("");
            $.ajax({
                url: "actualizarTransportistaG/"+idT+"/",
                type: 'get',
                dataType: 'json',
                beforeSend: function () {
                $("#TransportistaModalG").modal("show");
                },
                success: function (data) {
                    $("#TransportistaModalG .modal-content").html("");
                    $("#TransportistaModalG .modal-content").html(data.actualizarTransportistaG);

                    prioridad=document.getElementById('id_IDPrioridad');
                    $.ajax({
                        url:  'selectPrioridadesActualizarG/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data': JSON.stringify({'IDPrioridad' : data.IDPrioridad}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $(prioridad).empty();
                            $("#id_IDPrioridad").html(data.selectPrioridadesActualizarG);
                        }
                    });

                    estatus=document.getElementById('id_IDEstatus');
                    $.ajax({
                        url:  'selectEstatusActualizarG/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data': JSON.stringify({ 'IDEstatus' : data.IDEstatus }),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $(estatus).empty();
                            $("#id_IDEstatus").html(data.selectEstatusActualizarG);
                        }
                    });

                    idT = data.idT;
                    $.ajax({
                        url:  'checkboxTiposActualizarG/',
                        type: 'POST',
                        dataType: 'json',
                        ContentType: 'application/json; charset=utf-8',
                        data: {'data': JSON.stringify({ 'idT' : idT}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                        success: function (data) {
                            $("#contenedorTipos").html(data.checkboxTiposActualizarG);
                            
                            arregloTipos = data.arregloTipos;
                            $("input[name=checkbox]").each(function (index) {
                                for(var cont = 0; cont<arregloTipos.length; cont++){
                                    if($(this).val()==arregloTipos[cont]){
                                        $(this).attr('checked', true);  
                                    }
                                }
                            });
                        }
                    });

                    var cp = document.getElementById("id_CodigoPostal").value;
                    var coloniaTransportista = data.colonia;
                    var colonia = document.getElementById("id_Colonia");
                    url = 'https://api-sepomex.hckdrk.mx/query/info_cp/' + cp;
                    $.ajax({
                        type: 'GET',
                        url: url,
                        success: function (data) {
                            $(colonia).empty();
                            $(colonia).append($('<option>').text('Colonia').attr('value',"Colonia"));
                            for(var cont=0; cont < data.length; cont++){
                                $(colonia).append($('<option>').text(data[cont].response.asentamiento).attr('value',data[cont].response.asentamiento));
                                if(data[cont].response.asentamiento == coloniaTransportista){
                                    colonia.selectedIndex = cont+1;
                                }
                            }
                        }
                    });
                }
            });
        }

        function borrarTransportistaG(idT){
            $.ajax({
                url: "borrarTransportistaG/",
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({'idT' : idT}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    if(data.bandera == 1){
                        tablaTransportistasG();
                    }
                    else if(data.bandera == 2){
                        alert("¡El transportista tiene registros!");
                    }
                }
            });
        }

        /*
        Select tipo de unidades y rutas en tarifas
        */
        function selectRutasG(){
            $.ajax({
                url:  'selectRutasG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data':'',"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_IDRuta").html(data.selectRutasG);
                }
            });
        }

        function selectTiposUnidadesTransportistaG(idT){
            $.ajax({
                url:  'selectTiposUnidadesTransportistaG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({ 'idT' : idT}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_IDTipoUnidad").html(data.selectTiposUnidadesTransportistaG);
                }
            });
        }

        function buscarDatosRutaG(idR){
            document.getElementById('id_CPOrigen').value = "";
            document.getElementById('id_EstadoOrigen').value = "";
            document.getElementById('id_CiudadOrigen').value = "";
            document.getElementById('id_CPDestino').value = "";
            document.getElementById('id_EstadoDestino').value = "";
            document.getElementById('id_CiudadDestino').value = "";
            document.getElementById('id_Kilometros').value = "";
            document.getElementById('id_KilometrosAux').value = "";

            if(idR!="Ruta"){
                $.ajax({
                    url:  'buscarDatosRutaG/',
                    type: 'POST',
                    dataType: 'json',
                    ContentType: 'application/json; charset=utf-8',
                    data: {'data': JSON.stringify({ 'idR' : idR}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                    success: function (data) {
                        document.getElementById('id_CPOrigen').value = data.CPOrigen;
                        document.getElementById('id_EstadoOrigen').value = data.EstadoOrigen;
                        document.getElementById('id_CiudadOrigen').value = data.CiudadOrigen;
                        document.getElementById('id_CPDestino').value = data.CPDestino;
                        document.getElementById('id_EstadoDestino').value = data.EstadoDestino;
                        document.getElementById('id_CiudadDestino').value = data.CiudadDestino;
                        document.getElementById('id_Kilometros').value = data.Kilometros;
                        km = document.getElementById("id_Kilometros");
                        kmAux = document.getElementById("id_KilometrosAux");
                        kmAux.value = parseInt(Math.round(km.value)).toLocaleString("en-US");
                    }
                });
            }
        }

        function selectRutasActualizarG(IDRuta){
            $.ajax({
                url:  'selectRutasActualizarG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({'IDRuta' : IDRuta}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_IDRuta").html(data.selectRutasActualizarG);
                }
            });

        }

        function selectTiposUnidadesTransportistaActualizarG(IDTransportista, IDTipoUnidad){
            $.ajax({
                url:  'selectTiposUnidadesTransportistaActualizarG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({'IDTransportista' : IDTransportista, 'IDTipoUnidad' : IDTipoUnidad}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_IDTipoUnidad").html(data.selectTiposUnidadesTransportistaActualizarG);
                }
            });
        }

        function buscarDatosRutaActualizarG(idR){
            document.getElementById('id_CPOrigen').value = "";
            document.getElementById('id_EstadoOrigen').value = "";
            document.getElementById('id_CiudadOrigen').value = "";
            document.getElementById('id_CPDestino').value = "";
            document.getElementById('id_EstadoDestino').value = "";
            document.getElementById('id_CiudadDestino').value = "";
            document.getElementById('id_Kilometros').value = "";
            document.getElementById('id_KilometrosAux').value = "";

            if(idR!="Ruta"){
                $.ajax({
                    url:  'buscarDatosRutaActualizarG/',
                    type: 'POST',
                    dataType: 'json',
                    ContentType: 'application/json; charset=utf-8',
                    data: {'data': JSON.stringify({ 'idR' : idR}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                    success: function (data) {
                        document.getElementById('id_CPOrigen').value = data.CPOrigen;
                        document.getElementById('id_EstadoOrigen').value = data.EstadoOrigen;
                        document.getElementById('id_CiudadOrigen').value = data.CiudadOrigen;
                        document.getElementById('id_CPDestino').value = data.CPDestino;
                        document.getElementById('id_EstadoDestino').value = data.EstadoDestino;
                        document.getElementById('id_CiudadDestino').value = data.CiudadDestino;
                        document.getElementById('id_Kilometros').value = data.Kilometros;
                        km = document.getElementById("id_Kilometros");
                        kmAux = document.getElementById("id_KilometrosAux");
                        kmAux.value = parseInt(Math.round(km.value)).toLocaleString("en-US");
                    }
                });
            }
        }

        /*
        Select tipos de unidades
        */
        function selectTiposUnidadesG(idT){
            $.ajax({
                url:  'selectTiposUnidadesG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({ 'idT' : idT}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_Nombre").html(data.selectTiposUnidadesG);
                }
            });
        }

        function selectTipoUnidadBorraG(idU){
            $.ajax({
                url:  'selectTipoUnidadBorraG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({ 'idU' : idU}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_Nombre").html(data.selectTipoUnidadBorraG);
                }
            });
        }
        /*
        Select certificaciones
        */
        function selectCertificacionesG(idT){
            $.ajax({
                url:  'selectCertificacionesG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({ 'idT' : idT}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_Nombre").html(data.selectCertificacionesG);
                }
            });
        }

        function selectCertificacionBorrarG(idC){
            $.ajax({
                url:  'selectCertificacionBorrarG/',
                type: 'POST',
                dataType: 'json',
                ContentType: 'application/json; charset=utf-8',
                data: {'data': JSON.stringify({ 'idC' : idC}),"csrfmiddlewaretoken" : "{{csrf_token}}"},
                success: function (data) {
                    $("#id_Nombre").html(data.selectCertificacionBorrarG);
                }
            });
        }
    </script>
{% endblock %}