{% load static %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    
<div class="modal-header" style=" background-color: rgb(66, 108, 140);">
</div>
<div class="modal-body">
    <div class="container" style="width: 100%; padding-left: 60px;">
        <h2>Crear Ruta</h2>
        <form method="post" action="{{crearRuta}}" id="crearRuta">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Transportista</label>
                        {{ form.IDTransportista }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Tipo Unidad</label>
                        {{ form.IDTipoUnidad }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Nombre Rutas</label>
                        {{ form.NombreRuta }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>C.P. Origen</label>
                        {{ form.CPOrigen }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Estado Origen</label>
                        {{ form.EstadoOrigen }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Ciudad Origen</label>
                        {{ form.CiudadOrigen }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>C.P. Destino</label>
                        {{ form.CPDestino }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Estado Destino</label>
                        {{ form.EstadoDestino }}
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="form-group form-md-line-input form-md-floating-label has-error">
                        <label>Ciudad Destino</label>
                        {{ form.CiudadDestino }}
                    </div>
                </div>  
            </div>
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <label>Kilometros</label>
                        {{ form.Kilometros }}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <label>Precio</label>
                        {{ form.Precio }}
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <br>
                        <div class="pretty p-icon p-round p-pulse">
                            {{ form.ViajeRedondo }}
                            <div class="state p-success">
                                <i class="icon mdi mdi-check"></i>
                                <label>Viaje Redondo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Crear</button>
            <button type="button" class="btn btn-default" style="float: right;" data-dismiss="modal" >Cerrar</button>
        </form>
    </div>
</div>
<script>
    function mayusculas(e){
        e.value = e.value.toUpperCase();
    }

    function soloNumeros(e){
        texto = document.getElementById(e.id).value;
        simbolo = event.key;
        cadena = texto+simbolo;

        if(event.key == "Backspace" ||  event.key == "ArrowLeft" || event.key == "ArrowRight"){
            return true;
        }

        var RE =  /^([0-9])*$/;
        if (RE.test(cadena)){
            return true;
        }
        else{
            return false;
        }
    }

    function numerosDecimales(e, event) {
        texto = document.getElementById(e.id).value;
        simbolo = event.key;
        cadena = texto+simbolo;

        if(event.key == "Backspace" ||  event.key == "ArrowLeft" || event.key == "ArrowRight"){
            return true;
        }

        var RE =  /^\d*\.?\d*$/;
        if (RE.test(cadena)){
            return true;
        }
        else{
            return false;
        }
    }

    $.ajax({
        type: 'GET',
        url: "https://api-sepomex.hckdrk.mx/query/get_estados",
        success: function (data) {
            var estadoOrigen=document.getElementById('id_EstadoOrigen');
            $.each(data.response.estado, function (i, value) {
                $(estadoOrigen).append($('<option>').text(value).attr('value',value));
            });
            document.getElementById("id_CPOrigen").value = "";
            document.getElementById("id_EstadoOrigen").selectedIndex = 0;
            document.getElementById("id_CiudadOrigen").selectedIndex = 0;
        },
    });

    $.ajax({
        type: 'GET',
        url: "https://api-sepomex.hckdrk.mx/query/get_estados",
        success: function (data) {
            var estadoDestino=document.getElementById('id_EstadoDestino');
            $.each(data.response.estado, function (i, value) {
                $(estadoDestino).append($('<option>').text(value).attr('value',value));
            });
            document.getElementById("id_CPDestino").value = "";
            document.getElementById("id_EstadoDestino").selectedIndex = 0;
            document.getElementById("id_CiudadDestino").selectedIndex = 0;
        },
    });

    function buscarEstadoMunicipio(e) {
        var cadena = e.value;
        var estados = document.getElementById("id_EstadoOrigen");
        var municipios = document.getElementById("id_CiudadOrigen");
        var estado = "";
        var municipio = "";
        var url = "";
        document.getElementById("id_Precio").value = "";
        document.getElementById("id_Kilometros").value = "";

        if(cadena.length==5){
            estados.selectedIndex = 0;
            municipios.selectedIndex = 0;

            url = 'https://api-sepomex.hckdrk.mx/query/info_cp/' + e.value;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    for(var cont = 0; cont < estados.length ;cont++){
                        if(estados.options[cont].value == data[0].response.estado){
                            estado =  data[0].response.estado;
                            municipio = data[0].response.municipio;
                            estados.selectedIndex = cont;

                            $.ajax({
                                type: 'GET',
                                url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ estado,
                                success: function (data) {
                                    $(municipios).empty();
                                    $(municipios).append($('<option>').text('Ciudad').attr('value',""));
                                    $.each(data.response.municipios, function (i, value) {
                                        $(municipios).append($('<option>').text(value).attr('value',value));
                                        if(value == municipio){
                                            municipios.selectedIndex = i+1;
                                        }
                                    });
                                    kilometros();
                                },
                            });
                            break;
                        }
                    }
                },
            });
        }
        else{
            ciudadOrigen=document.getElementById('id_CiudadOrigen');
            $(ciudadOrigen).empty();
            $(ciudadOrigen).append($('<option>').text('Ciudad').attr('value',""));
            estados.selectedIndex = 0;
            municipios.selectedIndex = 0;
        }
    }

    function buscarEstadoMunicipioD(e) {
        var cadena = e.value;
        var estados = document.getElementById("id_EstadoDestino");
        var municipios = document.getElementById("id_CiudadDestino");
        var estado = "";
        var municipio = "";
        var url = "";
        document.getElementById("id_Precio").value = "";
        document.getElementById("id_Kilometros").value = "";

        if(cadena.length==5){
            estados.selectedIndex = 0;
            municipios.selectedIndex = 0;

            url = 'https://api-sepomex.hckdrk.mx/query/info_cp/' + e.value;
            $.ajax({
                type: 'GET',
                url: url,
                success: function (data) {
                    for(var cont = 0; cont < estados.length ;cont++){
                        if(estados.options[cont].value == data[0].response.estado){
                            estado =  data[0].response.estado;
                            municipio = data[0].response.municipio;
                            estados.selectedIndex = cont;

                            $.ajax({
                                type: 'GET',
                                url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ estado,
                                success: function (data) {
                                    $(municipios).empty();
                                    $(municipios).append($('<option>').text('Ciudad').attr('value',""));
                                    $.each(data.response.municipios, function (i, value) {
                                        $(municipios).append($('<option>').text(value).attr('value',value));
                                        if(value == municipio){
                                            municipios.selectedIndex = i+1;
                                        }
                                    });
                                    kilometros();
                                },
                            });
                            break;
                        }
                    }
                },
            });
        }
        else{
            estados.selectedIndex = 0;
            municipios.selectedIndex = 0;
            ciudadDestino=document.getElementById('id_CiudadDestino');
            $(ciudadDestino).empty();
            $(ciudadDestino).append($('<option>').text('Ciudad').attr('value',""));
        }
    }

    $('#id_EstadoOrigen').on('change',function () {
        ciudadOrigen=document.getElementById('id_CiudadOrigen');
        $(ciudadOrigen).empty();
        $(ciudadOrigen).append($('<option>').text('Ciudad').attr('value',""));
        document.getElementById("id_CPOrigen").value = "";
        document.getElementById("id_Precio").value = "";
        document.getElementById("id_Kilometros").value = "";

        $.ajax({
            type: 'GET',
            url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ $(this).val(),
            success: function (data) {
                $.each(data.response.municipios, function (i, value) {
                    $(ciudadOrigen).append($('<option>').text(value).attr('value',value));
                });
            },
        });
    });

    $('#id_EstadoDestino').on('change',function () {
        ciudadDestino=document.getElementById('id_CiudadDestino');
        $(ciudadDestino).empty();
        $(ciudadDestino).append($('<option>').text('Ciudad').attr('value',""));
        document.getElementById("id_CPDestino").value = "";
        document.getElementById("id_Precio").value = "";
        document.getElementById("id_Kilometros").value = "";

        $.ajax({
            type: 'GET',
            url: "https://api-sepomex.hckdrk.mx/query/get_municipio_por_estado/"+ $(this).val(),
            success: function (data) {
                $.each(data.response.municipios, function (i, value) {
                    $(ciudadDestino).append($('<option>').text(value).attr('value',value));
                });
            },
        });
    });

    $('#id_CiudadOrigen').on('change',function () {
        var estado=document.getElementById('id_EstadoOrigen').value;
        var municipio=$(this).val();
        var CPEstado = "";
        document.getElementById('id_CPOrigen').value = "";
        document.getElementById("id_Precio").value = "";
        document.getElementById("id_Kilometros").value = "";

        $.ajax({
            type: 'GET',
            url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_estado/"+ estado,
            success: function (data) {
                CPEstado = data.response.cp[0];
                $.ajax({
                    type: 'GET',
                    url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_municipio/"+ municipio,
                    success: function (data) {
                        $.each(data.response.cp, function (i, value) {
                            if(parseInt(CPEstado)<=parseInt(value)){
                                $(document.getElementById('id_CPOrigen')).val(value);
                                return false;
                            }
                        });
                        kilometros();
                    },                
                });
            },
        });
    });

    $('#id_CiudadDestino').on('change',function () {
        var estado=document.getElementById('id_EstadoDestino').value;
        var municipio=$(this).val();
        var CPEstado = "";
        document.getElementById('id_CPDestino').value = "";
        document.getElementById("id_Precio").value = "";
        document.getElementById("id_Kilometros").value = "";

        $.ajax({
            type: 'GET',
            url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_estado/"+ estado,
            success: function (data) {
                CPEstado = data.response.cp[0];
                $.ajax({
                    type: 'GET',
                    url: "https://api-sepomex.hckdrk.mx/query/get_cp_por_municipio/"+ municipio,
                    success: function (data) {
                        $.each(data.response.cp, function (i, value) {
                            if(parseInt(CPEstado)<=parseInt(value)){
                                $(document.getElementById('id_CPDestino')).val(value);
                                return false;
                            }
                        });
                        kilometros();
                    },                
                });
            },
        });
    });

    var servidor = "http://gaia.inegi.org.mx/sakbe_v3.1/";
    function kilometros(){

        var cpI=document.getElementById('id_CPOrigen').value;
        var cpF=document.getElementById('id_CPDestino').value;

        if(cpI!="" && cpF!=""){
            $.post(servidor+"cuota",
                {
                    dest_i: cpI,
                    dest_f: cpF,
                    v: 7,
                    type:"json",
                    proj:"MERC",
                    key: "x4cGBaOC-423Z-A9ii-AKwM-QWiCfq63rMu9"
                },
                function( json ){
                    document.getElementById('id_Kilometros').value = json.data.long_km;
            });
        }       
    }

    var banderaCrear = 1;
    $('#crearRuta').on('submit', function(event) {
        var trasnportista = document.getElementById("id_IDTransportista").selectedIndex;
        var tipoUnidad = document.getElementById("id_IDTipoUnidad").selectedIndex;
        var nombreRuta = document.getElementById("id_NombreRuta").value;
        var cpOrigen = document.getElementById("id_CPOrigen").value;
        var estadoOrigen = document.getElementById("id_EstadoOrigen").value;
        var ciudadOrigen = document.getElementById("id_CiudadOrigen").value;
        var cpDestino = document.getElementById("id_CPDestino").value;
        var estadoDestino = document.getElementById("id_EstadoDestino").value;
        var ciudadDestino = document.getElementById("id_CiudadDestino").value;
        var kilometros = document.getElementById("id_Kilometros").value;
        var precio = document.getElementById("id_Precio").value;

        if(banderaCrear==0){
            return false;
        }

        if(trasnportista == 0){
            alert("¡Seleccione un transportista!");
            return false;
        }

        if(tipoUnidad == 0){
            alert("¡Seleccione un tipo de unidad!");
            return false;
        }

        if(nombreRuta == ""){
            alert("¡Falta el nombre de la ruta!");
            return false;
        }

        if(cpOrigen == ""){
            alert("¡Falta el codigo postal origen!");
            return false;
        }

        if(estadoOrigen == "Estado"){
            alert("¡Seleccione un estado origen!");
            return false;
        }

        if(ciudadOrigen == "Ciudad"){
            alert("¡Seleccione una ciudad origen!");
            return false;
        }

        if(cpDestino == ""){
            alert("¡Falta el codigo postal destino!");
            return false;
        }

        if(estadoDestino == "Estado"){
            alert("¡Falta el estado destino!");
            return false;
        }

        if(ciudadDestino == "Ciudad"){
            alert("¡Faltan la ciudad destino!");
            return false;
        }

        if(precio == ""){
            alert("¡Falta el precio!");
            return false;
        }

        if(kilometros == ""){
            alert("¡Faltan los kilometros!");
            return false;
        }

        var form = $(this);
        banderaCrear = 0;
        $.ajax({
            url: form.attr("action"),
            data: form.serialize(),
            type: form.attr("method"),
            datatype: 'json',
            success: function(data){
                if(data.bandera == 2){
                    tablaRutas();
                    $("#RutasModal").modal("hide");
                }
                else if(data.bandera == 3){
                    document.getElementById("id_IDTransportista").selectedIndex = 0;
                    tipoUnidad=document.getElementById('id_IDTipoUnidad');
                    $(tipoUnidad).empty();
                    $(tipoUnidad).append($('<option>').text('Tipo Unidad').attr('value',"Tipo Unidad"));
                    tipoUnidad.selectedIndex = 0;
                    document.getElementById("id_NombreRuta").value = "";
                    document.getElementById("id_CPOrigen").value = "";
                    document.getElementById("id_EstadoOrigen").selectedIndex = 0;
                    ciudadOrigen=document.getElementById('id_CiudadOrigen');
                    $(ciudadOrigen).empty();
                    $(ciudadOrigen).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                    ciudadOrigen.selectedIndex = 0;
                    document.getElementById("id_CPDestino").value = "";
                    document.getElementById("id_EstadoDestino").selectedIndex = 0;
                    ciudadDestino=document.getElementById('id_CiudadDestino');
                    $(ciudadDestino).empty();
                    $(ciudadDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                    ciudadDestino.selectedIndex = 0;
                    document.getElementById("id_Kilometros").value = "";
                    document.getElementById("id_Precio").value = "";
                    document.getElementById("id_ViajeRedondo").checked = false;
                    alert("¡La ruta ya existe en el transportista!");
                    banderaCrear = 0;
                }
                else if(data.bandera == 4){
                    document.getElementById("id_IDTransportista").selectedIndex = 0;
                    tipoUnidad=document.getElementById('id_IDTipoUnidad');
                    $(tipoUnidad).empty();
                    $(tipoUnidad).append($('<option>').text('Tipo Unidad').attr('value',"Tipo Unidad"));
                    tipoUnidad.selectedIndex = 0;
                    document.getElementById("id_NombreRuta").value = "";
                    document.getElementById("id_CPOrigen").value = "";
                    document.getElementById("id_EstadoOrigen").selectedIndex = 0;
                    ciudadOrigen=document.getElementById('id_CiudadOrigen');
                    $(ciudadOrigen).empty();
                    $(ciudadOrigen).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                    ciudadOrigen.selectedIndex = 0;
                    document.getElementById("id_CPDestino").value = "";
                    document.getElementById("id_EstadoDestino").selectedIndex = 0;
                    ciudadDestino=document.getElementById('id_CiudadDestino');
                    $(ciudadDestino).empty();
                    $(ciudadDestino).append($('<option>').text('Ciudad').attr('value',"Ciudad"));
                    ciudadDestino.selectedIndex = 0;
                    document.getElementById("id_Kilometros").value = "";
                    document.getElementById("id_Precio").value = "";
                    document.getElementById("id_ViajeRedondo").checked = false;
                    alert("¡Validacion erronea en el formulario!");
                    banderaCrear = 0;
                }
            }
        });
        return false;
    });
</script>