<div class="modal-header" style="background-color: rgb(66, 108, 140);">
</div>
<div class="modal-body">

<h2 >Alta Rutas</h2>
    <form method="post" action="{{urlrutas}}" class="js-rutas-form">
        {% csrf_token %}
         <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>Transporte</label>
                    <select name="IDTransportista" class="form-control IDTransportista edited" placeholder="IDTransportista" required="" id="id_IDTransportista">
                        <option value="" selected >Transportistas</option>
                        {% for carrier in carriers%}
                            <option value="{{carrier.id}}">{{carrier.RazonSocial}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>Nombre Ruta</label>
                    {{ form.NombreRuta }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>C.P. Origen</label>
                    {{ form.CPOrigen }}
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>Estado Origen</label>
                    {{ form.EstadoOrigen }}
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>Ciudad Origen</label>
                    {{ form.CiudadOrigen }}
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>C.P. Destino</label>
                    {{ form.CPDestino }}
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>Estado Destino</label>
                    {{ form.EstadoDestino }}
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="form-group form-md-line-input form-md-floating-label has-error">
                    <label>Ciudad Destino</label>
                    {{ form.CiudadDestino }}
                </div>
            </div>
            
            
        </div>
        
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <label>Kilometros</label>
                    {{ form.Kilometros }}
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <label>Casetas</label>
                    {{ form.Casetas }}
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
                <div class="form-group form-md-line-input form-md-floating-label">
                    <br>
                    <div class="pretty p-icon p-round p-pulse">
                        {{ form.ViajeRedondo }}
                        <div class="state p-success">
                            <i class="icon mdi mdi-check"></i>
                            <label>Viaje Redondo</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="HiddenId1" name="custId" value="0">
        <input type="hidden" id="HiddenId2" name="HiddenId2" value="0">    
        
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <div align="right">
        <button type="button" class="btn btn-default" data-dismiss="modal" >Cerrar</button>
    </div>
</div>
{% load static %}
<script src="{% static 'js/codigosCP.js' %}"></script>